<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2020-02-22T00:52:22Z</date>
	<key>WorkspacePath</key>
	<string>/Users/austinwang/Desktop/CS32/Assignment1/Assignment1.xcodeproj</string>
</dict>
</plist>
